.cm-e-menu {
    position: relative;
    z-index: 1000;
}

.cm-e-menu ul {
    margin: 0;
    padding: 0;
}

.cm-e-menu li {
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    list-style: none;

    -webkit-transition: background-color ease-in 300ms;
    -moz-transition: background-color ease-in 300ms;
    -ms-transition: background-color ease-in 300ms;
    -o-transition: background-color ease-in 300ms;
    transition: background-color ease-in 300ms;
}

.cm-e-menu a {
    text-decoration: none;
}


.cm-e-menu ul li.topmenu {
    display: inline-table;
}

.cm-e-menu .topmenu ul {
    display: none;
    position: absolute;
    /* background-color: #222; */
}

.cm-e-menu li:hover>ul {
    display: table;
}

.cm-e-menu ul.submenu {
    top: 100%;
    left: 0;
}

.cm-e-menu ul.submenu .submenu {
    top: 0;
    left: 100%;
}
